body{
    background-color: beige;
    margin: 0;
    padding: 20px;
    height: 100vh;
}
#jeu{
    display: flex;
    justify-content: space-around;
}
.titre-image{
    text-align: center;
}
h1{
    margin: 0;
    padding: 20px;
    text-align: center;
}
.option{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#rejouer{
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
#check-erreur{
    position: relative;
}
/* Facile */
#erreur-chien{
 position: absolute;
 bottom: 32%;
 right: 37%;
 opacity: 0;
}
#erreur-lampe{
    position: absolute;
    right: 37.1%;
    top: 34.6%;
    opacity: 0;
}
#erreur-livre{
    position: absolute;
    top: 29.1%;
    left: 37.3%;
    opacity: 0;
}
#objet-etagere{
    position: absolute;
    right: 46%;
    top: 15.4%;
    opacity: 0;
}
#point-mur{
    position: absolute;
    top: 4.5%;
    right: 1.6%;
    opacity: 0;
}
#sol{
    position: absolute;
    bottom: 20.5%;
    left: 26.3%;
    opacity: 0;
}
#statue{
    position: absolute;
    left: 18.6%;
    top: 26.5%;
    opacity: 0;
}

/* Moyen */
#bouton-trancheuse{
    position: absolute;
    opacity: 0;
}
#couleur-assiette{
    position: absolute;
    opacity: 0;
}
#fissure{
    position: absolute;
    opacity: 0;
}
#fleur-plat{
    position: absolute;
    opacity: 0;
}
#fleur-serviette{
    position: absolute;
    opacity: 0;
}
#manche-cuivre{
    position: absolute;
    opacity: 0;
}
#mosaique{
    position: absolute;
    opacity: 0;
}
#plaque-trancheuse{
    position: absolute;
    opacity: 0;
}
#poignée-porte{
    position: absolute;
    opacity: 0;
}
#pomme{
    position: absolute;
    opacity: 0;
}
#pot-couleur{
    position: absolute;
    opacity: 0;
}
#prise{
    position: absolute;
    left: 29%;
    bottom: 24.5%;
    /* opacity: 0; */
}


/* Retoucher image erreur car mal détourer */
@media screen and (max-width: 1280px) {
    #jeu{
        display: flex;
        flex-direction: column;
    }
    img{
        width: 100%;
    }
    .img-erreur{
        height: 10px;
    }
    #statue{
        width: 4vw;
    }
    #sol{
        width: 5vw;
    }
    #point-mur{
        width: 3vw;
    }
    #objet-etagere{
        width: 3vw;
    }
    #erreur-livre {
        width: 3vw;
    }
    #erreur-lampe{
        width: 3vw;
    }
    #erreur-chien{
        width: 4vw;
    }
}